fastapi
uvicorn[standard]

python-multipart

opencv-python

numpy

pandas

pillow

scikit-learn

torch
torchvision

ultralytics

sqlalchemy

alembic

python-dotenv

pydantic

passlib[bcrypt]

python-jose[cryptography]

reportlab

matplotlib

seaborn

pytest

httpx

pydantic-settings